<ng-container *ngIf="seeModa">
  <div class="modal">
    <div class="txtMessage">
      <h1>Ação necessária</h1>
    </div>
    <ng-content></ng-content>
    <div class="titleDiv">
    </div>
    <div class="Bttns">
      <div class="bttnCancelar">
        <button (click)="toggle()">Cancelar</button>
      </div>
      <div class="bttnConfirmar">
        <button (click)="logOut()">Confirmar</button>
      </div>
    </div>
    <div class="msg_corret">
    </div>
  </div>

  <div (click)="toggle()" class="overlay"></div>
</ng-container>